<article>

    <h4 class="display-4 text-center mb-4 mt-1">Register</h4>
    <hr>

    <mat-card class="d-flex justify-content-center">

        <form [formGroup]="form" (ngSubmit)="auth.register(form.value)">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="on" email>
            </mat-form-field>
            <br>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="on">
            </mat-form-field>
            <br>

            <div class="form-group">
                <button mat-raised-button class="btn btn-primary btn-block" [disabled]="!form.valid"> Register </button>
            </div>
        </form>

    </mat-card>
</article>